.month-wrapper {
    width: 1057px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: auto;
    .dateSelector {
        border: 1px solid black;
        text-align: center;
    }
}
