.wrapper {
    float: left;
    width: 192px;
    height: 170px;
    border: solid black 0.5px;
    .date {
        display: flex;
    }
    .toDate {
        background: slateblue;
    }
    .program {
        text-align: center;
    }
}
